.App {
    display: flex;
    min-height: 100vh;
    justify-content: center;
  }
  .insideApp {
    padding-top: 49px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }


.titre {
    font-family: "ExtraBold";
    font-size: 200px;
    width: 100%;
    word-spacing: 1rem;
    height: fit-content;
    margin-bottom: -0px;
    margin-top: 0px;
  }
  
  .cursor {
    background-color: #111;
    height: 32px;
    width:  32px;
    border-radius: 50%;
    position : fixed;
    top:0;
    left:0;
    pointer-events: none;
  }